*{
	margin: 0px;
	padding: 0px;
}

body, label, input, small{
	font-family: "Noto Sans" , "Helvetica", "Arial", "sans-serif";
}
body{
	background: url("bg.jpg") repeat-x;
	background-position: bottom;
}
#container{
	width: 800px;
	margin: 0px auto;
	position: relative;
	min-height: 100%;
}

#content{
	padding-bottom: 30px;
}

/* clearfix - thanks to http://nicolasgallagher.com/micro-clearfix-hack/ */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.left50{
	float: left;
	width: 46%;
	padding-right: 4%;
}
.right50{
	float: right;
	width: 50%;
}
.columns{
	padding-bottom: 20px;
}

h1, h2, h3, h4{
	font-family: "Noto Sans";
}
nav{
	margin-bottom: 20px;
}
nav ul{
	list-style-type: none;
}

nav ul li{
	float: left;
}

nav ul li a{
	display: block;
	margin-right: 10px;
	padding: 5px 10px;
	border-radius: 3px;
	font-size: 12px;
	
	color: #000;
	text-decoration: none;
	font-family: "Noto Sans";
}

nav ul li a:hover, .pg_home .ln_home, .pg_latestOffenses .ln_latestOffenses, .pg_unreported .ln_unreported, .pg_topTenBars .ln_topTenBars, .pg_strikeNext .ln_strikeNext, .pg_technical .ln_technical{
	background: #96E0FF;
	text-decoration: none;
}

#page_header{
	margin-top: 10px;
	margin-bottom: 10px;
}
#page_header h1, #page_header h2{
	color: #FFF;
}
#page_header h2{
	font-size: 14px;
	color: #FAF43E;
	position: relative;
	top: -10px;
}

#bg, #bg2{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 75px;
	background-color: #000;
	z-index: -1;
}
#bg2{
	bottom: 0;
	height: 10px;
}

p{
	font-family: "Gentium Book Basic";
}

.opener{
	margin-bottom: 1em;
}

h4{
	margin-bottom: 10px;
}

.search input[type=text]{
	border: 1px black solid;
	padding: 5px 10px;
	width: 100%;
	margin-bottom: 10px;
	font-size: 16px;
	font-family: "Noto Sans";
}

.searchbox{
	position: relative;
	top: 0;
	left: 0;
}
.searchbox label{
	position: absolute;
	left: -210px;
	top: 6px;
	font-size: 14px;
	width: 200px;
	text-align: right;
	display: none;
	
}

.submitbox{
	text-align: right;
}
.submitbox input{
	padding: 5px 10px;
	font-size: 12px;
	background-color: #96E0FF;
	font-size: 16px;
	cursor: pointer;
	border: none;
	border-radius: 3px;
}

#map-canvas{
  width: 100%;
  height: 600px;
  border: 1px black solid;
}

.niceTable td, .niceTable th{
	padding: 5px 10px;
	margin: 0;
}
.niceTable tr td{
	background: #FFD6C4;
}
.niceTable tr:nth-child(even) td{
	background: #FFF;
}
.niceTable th{
	text-align: left;
	font-weight: normal;
	font-size: 10px;
}
.niceTable th.barName{
	width: 82%;
}

a{
	color: inherit;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

footer{
	position: absolute;
	bottom: 4px;
}
footer small{
	color: #FFF;
}



/* page specific styles */
.pg_search .niceTable td{
	font-size: 12px;
}

.pg_search .niceTable th.barName{
	width: 40%;
}
.pg_search .niceTable tr:nth-child(odd) td{
	background: #96E0FF;
}
.ratingCircle{
	display: inline-block;
	font-weight: normal;
	font-size: 16px;
	text-align: center;
	width: 40px;
	height: 31px;
	padding-top: 9px;
	border-radius: 20px;
}
.r0, .r1{background: #fe0200;}
.r2, .r3 {background: #eb1f07;}
.r4, .r5 {background: #c55211;}
.r6, .r7 {background: #ac7518;}
.r8 {background: #84aa21;}
.r9 {background: #76c126;}
.r10 {background: #4aff31;}

.pg_bar .columns ul, ul.marginFix{
	margin-left: 1.2em;
}

p.n{
	font-family: "Noto Sans";
}

.modified.niceTable .barName{
	width: auto;
}
.modified.niceTable tr td:last-child{
	text-align: center;
}
address{
	font-style: normal;
}