#To run the data generation, put in your database credentials and rename this file to settings.py
import MySQLdb

datadir = "data/"
def conn_remote():
	db = MySQLdb.connect(host="<sql host>", user="<user>", passwd="<password>", db="<database>")
	print "Connection made"
	return db
